USE [TPEquiposJugadores]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 12/12/2023 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[idEquipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[idEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 12/12/2023 16:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[idJugador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellido] [varchar](max) NOT NULL,
	[NumeroCamiseta] [int] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
	[idEquipo] [int] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[idJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([idEquipo], [Nombre], [Imagen]) VALUES (2, N'Al Nassr', N'https://logodownload.org/wp-content/uploads/2023/07/al-nassr-fc-logo-0.png')
INSERT [dbo].[Equipos] ([idEquipo], [Nombre], [Imagen]) VALUES (3, N'Inter de Miami', N'https://1000marcas.net/wp-content/uploads/2021/05/Inter-Miami-logo.png')
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([idJugador], [Nombre], [Apellido], [NumeroCamiseta], [FechaNacimiento], [Imagen], [idEquipo]) VALUES (2, N'Lionel', N'Messi', 10, CAST(N'1987-06-24' AS Date), N'https://image.ondacero.es/clipping/cmsimages01/2023/06/13/D2A4CC75-E672-4A54-B325-1611051ED976/messi-principio-ire-proximo-mundial_104.jpg?crop=715,715,x182,y0&width=1200&height=1200&optimize=low&format=webply', 3)
INSERT [dbo].[Jugadores] ([idJugador], [Nombre], [Apellido], [NumeroCamiseta], [FechaNacimiento], [Imagen], [idEquipo]) VALUES (3, N'Paul', N'Pogba', 6, CAST(N'1993-03-15' AS Date), N'https://www.juventus.com/images/image/private/t_portrait_tablet_desktop/f_auto/v1657793288/dev/e8jawyrhzhdyvbltcjld.jpg', 4)
INSERT [dbo].[Jugadores] ([idJugador], [Nombre], [Apellido], [NumeroCamiseta], [FechaNacimiento], [Imagen], [idEquipo]) VALUES (5, N'Cristiano', N'Ronaldo', 7, CAST(N'1985-02-05' AS Date), N'https://www.directvsports.com/__export/1697219808672/sites/dsports/img/2023/10/13/20231013_025648150_vnzx2ukd452c1bqvjoxeu5td0.jpg_1301049368.jpg', 2)
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Equipos1] FOREIGN KEY([idEquipo])
REFERENCES [dbo].[Equipos] ([idEquipo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Equipos1]
GO
